.preloader {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #fffdf5, #f5e9dc);
  background-size: cover;
  background-position: center;
  color: var(--color3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 2rem;
  overflow: hidden;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 0;
}

.preloader-logo {
  width: 150px;
  animation: fadeIn 2s ease-in-out;
}

.preloader-texto {
  font-family: var(--fuente-texto);
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: var(--color3);
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
